#cuerpo {
    width: 1350px !important;
}

#searchBar{
    bottom: 20px;
}
#logo, #carrito{
    margin-bottom: 20px;
}

#logo{
    margin-left: 40px;
}

#carrito {
    /* position: absolute; */
    width: 80px;
    bottom: 0px;
    left:20%;
}

.caja{
    background-color: blueviolet;
    margin: 10px;
}